.barra{
	border-collapse: collapse;
    width: 100%;
    background-color: #4472c4;
}

.opciones{
	font-family: "Times New Roman";
	font-size: 14px;
	padding: 8px;
	color: white;
}

.tituloUTP1{
	font-family: "Century Gothic";
	font-size: 24px;
}
.tituloUTP2{
	font-family: "Century Gothic";
	font-size: 16px;
}
.titulosComunes{
	padding: 0 8px;
}
.heder {
	width: 100%;
    background:#f2f2f2;
    width: 100%;
    height: 10rem;
    
}
.separador{
	width: 2px;
    height: 135px;
    background:#000000;
}
.colorArriba{
	width: 100%;
    height: 35px;
    background:#b218be;
}
.colorAbajo{
	width: 100%;
    height: 3px;
    background:#ffe48e;
    margin: 0 0 40px 0;
}
.cuentaUsuario{
	bottom: 100%;
}
.btn{
	background-color: #454045; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.fecha{
	right: 100%;
}
.tamT1{
	width: 18%;
	margin-left: 18%;
}
.tamT2{
	width: 2%;
}
.tdese{
	width: 100%;
}
.logo{
	width: 125px;
	height: 125px;
	margin-left: 40%;
	right: 100%;
}
.contenedor{
	width: 100%;
}
.logotipo{
	width: 10%;
}
.tdotro{
	width: 86%;
}
.btn1{
	background-color: #4472c4; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.columnaBusqueda{
	width: 100%;
	align: center;

}
.cuerpoBusqueda{
	width: 100%;
	height: 100%;
}
.contenidoCajaBusqueda{
}
.barraDeBusqueda{
	background:#f2f2f2;
	padding: 6%;
}
.seccionNoticias{ padding: 0; }
.cuerpoNoticias{
	width: 100%; padding: 0;
}
.NoticiasContenidoliterarioNoticias{
	width: 100%;
}
.noticias{
	width: 100%;
}
.noticias1{
	width: 20%;
}
.noticias2{
	width: 20%;
}
.zonalinetaria{
	width: 60%; background:#f2f2f2;
}
.noticiasUTP{
	width: 100%;
	height: 800;
}
.flex{ display: flex; width: 100%; margin: 0 auto; text-align: center; }
.btn1{ display: flex; width: 100%; }

.librosVistos{ overflow:scroll; width: 100%; height: 220px; overflow-y:hidden; }
.contenedorLibros{ width: 120%; }
.linksReferencia{ display: flex; justify-content: center; }
.pieDePagina{ background-color: #354b63; height: 240px; }
.tamanioPie{ width: 100%; }
.contenedorPie{ display: flex; justify-content: flex-start; align-items: center; }
.logoPie{ width: 220px; flex-flow: column; }
.tamanioLogoPie{ width: 210px; height: 210px; }
.disenio2{ flex-flow: row wrap !important; }
.colorDeZona1{ background:#ffffff; }
.noticias-2{ width:100%; background:#f2f2f2; }
.eliminarMargen{ padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0;}
.colorFondoGris{ background-color: #f2f2f2; }
.alinearCentro{ justify-content: center; }
.supercontenedor{ background:#f2f2f2; }
body{ margin: 0; padding: 0; }
.separador{ margin-bottom: 8%; border: 0; }
.parrafo{ margin-top: 0rem; }
.parrafo2{ flex-flow: column; }
.parrafo3{ flex-flow: row; }
.tuiterAdicional{ height: 100px; }